<div class="container">
    <div class="row">
      <div class="col-12 text-center mt-3">
        <h1 class="font-weight-dark text-dark ml-5 mr-5">Sign Up</h1>
        <div class="text-info">Create an Account</div>
      </div>
    </div>
  </div>

  <!--end of welcome title -->

  <!-- signup -->

  <div class="container pt-5 pb-5">
    <form action="./welcome.html" class="row g-3" onsubmit="return signupvalidation()">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="name" class="form-control" id="signup_firstName">
        <span class="error" id="firstname_message"></span>
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="name" class="form-control" id="signup_lastName">
        <span class="error" id="lastname_message"></span>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="signup_inputEmail4" placeholder="Eg : xyz@gmail.com">
        <span class="error" id="email_message"></span>
      </div>
      <div class="col-md-6">
      <label for="mobile4" class="form-label">Mobile</label>
      <input type="tel" class="form-control" id="signup_mobile4" placeholder="Eg : XXX-XXX-XXXX">
      <span class="error" id="mobile_message"></span>
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control pass" id="signup_inputPassword4" placeholder="Min 8 characters, at least one uppercase and lowercase must contain at least one number">
        <span class="error" id="password_message"></span>
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="signup_confirminputPassword4" placeholder="Min 8 characters, at least one uppercase and lowercase must contain at least one number">
        <span class="error" id="confirm_password_message"></span>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="signup_inputAddress" placeholder="Eg : 1234 Main St">
        <span class="error" id="address_message"></span>
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input type="text" class="form-control" id="signup_inputAddress2" placeholder="Eg : Apartment, studio, or floor">
        <span class="error" id="address2_message"></span>
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="signup_inputCity" placeholder="Eg : Mumbai city">
        <span class="error" id="city_message"></span>
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="signup_inputState" class="form-select">
          <option value="0" selected>Choose...</option>
          <option value="1">Kerala</option>
          <option value="2">Tamil Nadu</option>
          <option value="3">Karnataka</option>
          <option value="4">Rajasthan</option>
          <option value="5">Andhra pradesh</option>
        </select>
        <span class="error" id="state_message"></span>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="number" class="form-control" id="signup_inputZip" placeholder="Eg : XXXXXX">
        <span class="error" id="zip_message"></span>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="signup_gridCheck">
          <label class="form-check-label" for="gridCheck">
            Accept terms and conditions
          </label>
        </div>
        <span class="error" id="I_message"></span>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>

  <!-- end of signup -->