<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-4">
      <h1 class="font-weight-dark text-dark ml-5 mr-5">Log In</h1>
      <div class="text-info">Login with your credentials</div>
    </div>
  </div>
</div>
  
  <div class="container text-center mb-3 pb-5 pt-5">
      <div class="row text-center align-items-center my-3 py-3">
          <div class="col-15 col-md-7 pb-2">
              <div class="imgg"><h1>Welcome to Alphabet Center</h1></div> 
          </div> 
    
          <div class="col-10 col-md-3">
            <br>
                <form>
  
                  <div class="mb-3">
                    <input type="text" class="form-control" id="loginemail"  placeholder="Username" aria-describedby="emailHelp">
                  </div>
  
                  <br>
  
                  <div class="mb-3">
                    <input type="password" class="form-control" placeholder="Password" id="loginpwd">
                  </div>
  
                  <br>
  
                  <button type="button" class="btn btn-outline-success">Login</button>
                                        
                  <br>
  
                  <br>
  
                  <label class="error" for="error_message" id="error_message"></label>
                 
  
                </form>
  
              </div>  
          </div>
  </div>    