<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand pl-5" href="#">
          <img src="https://us.123rf.com/450wm/hayaship/hayaship1909/hayaship190900008/131793570-initial-a-in-black-and-white-with-doodle-ornaments-and-design-elements-from-mandala-art-style-for-co.jpg?ver=6" width="30" height="30" class="d-inline-block align-top" alt="">
          Alphabet Center
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/' *ngIf="!_auth.loggedIn()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" *ngIf="!_auth.loggedIn()">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" *ngIf="!_auth.loggedIn()">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/book"  *ngIf="_auth.loggedIn()">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add-book" *ngIf="_auth.loggedIn()">Add book</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="logoutUser()">Log Out</a>
          </li>
          
        </ul>
      </div>
    </div>
    </nav>